*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color);
    font-family: 'Roboto',
    sans-serif;
}
:root{
    --font-color: #f1f1f1;
    --background-color: rgb(22, 22, 22);
    --header-size: 3.2ch;
}
.main-container{
    background-color: var(--background-color);
    height: 100vh;
}
.search-bar{
    display: flex;
    gap: 10px;
    list-style-type: none;
    margin-left: 40px;
}
.nav__list{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}
.nav__item{
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}
.nav__item--img{
    width: 100px;
}
.article{
    width: 90%;
    margin: auto;
}
.primary-section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.secondary-section{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
}
.card{
    height: 25rem;
    width: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;
    padding-bottom: 20px;
    margin:20px 0;
    padding-left: 7px;
    border-radius: 5px;
    transition: 0.2s;
}
#search-bar{
    color: black;
}
.card__title{
    font-size: 4ch;
}
.card__para--bold{
    font-weight: bold;
}
.card-1{
    background-image: linear-gradient(0deg,
    rgb(255, 0, 0) 20%,
    rgba(255, 0, 0, 0.158) 60%,
    rgba(255, 0, 0, 0) 100%), url(images/it.jpg);
    background-size: cover;
    background-position: center;
}
.card-2 {
    background-image: linear-gradient(0deg,
    rgb(0, 89, 255) 30%,
    rgba(0, 89, 255, 0.158) 50%,
    rgba(255, 0, 0, 0) 100%), url(images/fantastic-beasts-the-crimes-of-grindelwald.jpg);
    background-size: cover;
    background-position: center;
}
.card-3 {
    background-image: linear-gradient(0deg,
    rgb(0, 0, 0) 30%,
    rgba(0, 0, 0, 0.158) 70%,
    rgba(255, 0, 0, 0) 100%), url(images/split.jpg);
    background-size: cover;
    background-position: center;
}
.card-4 {
    background-image: linear-gradient(0deg,
    rgb(67, 119, 233) 30%,
    rgba(67, 119, 233, 0.158) 45%,
    rgba(255, 0, 0, 0) 100%), url(images/spider-man-homecoming.jpg);
    background-size: cover;
    background-position: center;
}
.card-5 {
    background-image: linear-gradient(0deg,
    rgb(150, 129, 10) 40%,
    rgba(143, 122, 1, 0.288) 60%,
    rgba(255, 0, 0, 0) 100%), url(images/the-silence-of-the-lambs.jpg);
    background-size: cover;
    background-position: center;
}
.hori-card__img{
    width: 220px;
    height: 120px;
    margin: 12px 0;
    border-radius: 5px;
    transition: 0.2s;
}
.card:hover, .hori-card__img:hover {
    transform: scale(1.02);
}
.nav__item:hover{
    background-color: #272727;
}
#live{
    font-weight: bold;
    color: rgb(250, 37, 37);
    position: relative;
}
#live::before{
    content: '';
    background-color: red;
    height: 8px;
    width: 8px;
    right: -16px;
    top: 5.5px;
    border-radius: 50%;
    position: absolute;
    animation-name: dot;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes dot {
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@media only screen and (max-width: 1555px) {
    .card{
        width: 12rem;
        height: 18rem;
        gap: 5px;
    }
    .card__title{
        font-size: 3ch;
    }
    .card__para{
        font-size: 1.5ch;
    }
        .hori-card__img {
            width: 150px;
            height: 80px;
        }
}
@media only screen and (max-width: 1090px) {
    .card {
        width: 8rem;
        height: 12rem;
        gap: 2px;
    }

    .card__title {
        font-size: 2ch;
    }

    .card__para {
        font-size: 1ch;
    }

    .hori-card__img {
        width: 100px;
        height: 50px;
    }
    .hori-card__para{
        font-size: 1ch;
    }
    .hori-card__para--bold{
        font-size: 1.3ch;
    }
    .nav__list{
        font-size: 1.2ch;
    }
}
@media only screen and (max-width: 750px) {
    .primary-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .secondary-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 20rem;
        height: 27rem;
        gap: 5px;
    }

    .card__title {
        font-size: 5ch;
    }

    .card__para {
        font-size: 2.3ch;
    }

    .hori-card__img {
        width: 150px;
        height: 80px;
    }
}